.city-container {
  display: flex;
  justify-content: space-between;
  // justify-content: center;
  align-items: center;
}

.city-list {
  position: absolute;
  background-color: rgb(0, 102, 138);
  color: white;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  z-index: 2;

  &__item {
    padding-top: 2px;
    padding-bottom: 2px;

    &--success {
      cursor: pointer;
    }
  }
}

.input-container {
  position: relative;
  width: 200px;
}

.input-container input[type="text"] {
  font-size: 20px;
  color: #565691;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: $main-color;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: $main-color;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}
