.forecast {
  display: flex;
  padding: 20px;
  min-height: 150px;
  border-radius: 25px;
  border: 1px solid #b2acac2e;
  background-color: #ADD8FF;
  overflow-x: auto;

  &--weekly {
    display: block;
  }

  &--loading {
    justify-content: center;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__period {
    position: fixed;
    display: flex;
    gap: 10px;
  }
}
