.info-window {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-color;
  background-color: #bee1ff;
  border-radius: 25px;
  gap: 1rem;

  &__title {
    margin: 0;
  }

  &__row {
    margin: 0;

    &--capitalize {
      text-transform: capitalize;
    }
  }

  &__picture {
    width: 75px;
  }
}
