.navigation {
  padding: 0 20px 10px;
  display: flex;
  justify-content: space-between;

  &__link {
    color: $main-color;
    font-weight: 500;
    padding: 10px;

    &.router-link-active {
      border-radius: 25px;
      background-color: $main-color; 
      color: #fff;
    }

    &:active {
      background-color: #00668a;
      border-radius: 25px;
      color: #fff;
    }
  }
}
